@using PokedexAPI.Controllers
@using System.Reflection






@{
    ViewBag.Title = "Index";
}


<!--p@model IEnumerable<Pokemon>-->

@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    ViewBag.Title = "Users";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Pokemon List</h3>
    </div>

    <div class="panel-body">

        <ul class="list-inline">

            <!-- h@foreach (var pklist in Model)-->
            <!--   m@foreach (var pklist in Model) -->
            
                @foreach (Pokemon pokemon in (IEnumerable<Pokemon>)ViewData["Pokemon"])
                {
                    <li class="active">


                        @pokemon.id
                        @pokemon.name

                        <figure class="figure">
                            @{
                                var base64 = Convert.ToBase64String(@pokemon.sprite);
                                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            }
                            <img src=@imgSrc class="figure-img img-fluid rounded" alt="...">
                        </figure>

                    </li>

                }
        </ul>

    </div>
</div>



